@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Hand:wght@400;700&display=swap');

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    color: #333;
    background-image: url('./index2.avif');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

.nav-bar {
    background: #444;
    padding: 15px 10px;
}

#navdiv {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#name {
    font-size: 48px;
    font-family: 'Edu AU VIC WA NT Hand', cursive;
    font-weight: bold;
    color: #fff;
}

.nav-bar ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style-type: none;
}

.nav-bar li {
    display: inline-block;
    position: relative;
}

.nav-bar li a {
    color: antiquewhite;
    font-size: 20px;
    font-weight: bold;
    margin-right: 20px;
    text-decoration: none;
    padding: 5px 10px;
    transition: color 0.3s, background-color 0.3s;
}

.nav-bar li a:hover {
    color: #db4d15;
    background-color: #080808;
    border-radius: 20px;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #363535;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    top: 40px;
    right: 0;
    min-width: 160px;
    padding: 10px 0;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

.intro {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
}

.header-content {
    text-align: right;
    margin-right: 100px; /* Adjust as needed */
    color: #fff;
}

.intro h1 {
    font-size: 66px;
    margin-bottom: 10px;
}

.intro h2 {
    font-size: 36px;
    color: #666;
}

.content {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.img {
    flex: 1;
    text-align: center;
}

.img img {
    display: block;
    width: 100%;
    max-width: 600px;
    height: auto;
    border-radius: 50%;
    border: 10px solid gray;
}

main {
    flex: 1;
    max-width: 800px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    font-size: 20px;
    padding: 20px;
}

#self {
    padding: 20px;
}

#self p {
    margin-bottom: 20px;
}

#self a {
    display: inline-block;
    padding: 10px 20px;
    border-radius: 20px;
    border: 2px solid;
    text-decoration: none;
}

footer.contact {
    text-align: center;
    padding: 20px;
    background-color: #444;
    color: #fff;
    margin-top: 20px;
}

footer.contact #links a {
    color: #fff;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s;
}

footer.contact #links a:hover {
    color: #db4d15;
}
