body{
    flex-direction: column;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 0px;}
 
section.ex1{
    flex-direction: column;
    display: flex;
    justify-content:center;
    align-items: center;
    width: 100%;
    height: 630px;
    /* border: 20px solid; */
    background:linear-gradient(rgb(18, 6, 51) , rgb(4, 45, 134), rgb(171, 170, 194)) ;    

     
}
div#name{
    /* font-family: 'Roboto', sans-serif; */
     /* font-family: 'Montserrat', sans-serif;   */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif;   */
    justify-content: flex-start;

    height: 50px;
    width: 350px;
    
    border: 2px solid;
} 
div#bio{
    justify-content: flex-start;
    height: 100px;
    border: 2px solid;
}
aside#image{
    border-image: fill;
    box-shadow: inset;
    border-image: fill;
    height: 200px;
    width: 200px;
    justify-content: flex-end; 
    
    border: 2px solid;   
}
section.ex2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 630px;
    /* border: 20px solid; */
    background:linear-gradient(  rgb(171, 170, 194) , rgb(208, 214, 157)) ;    

}
div#name{
    /* font-family: 'Roboto', sans-serif; */
     /* font-family: 'Montserrat', sans-serif;   */
    /* font-family: 'Lato', sans-serif; */
    font-family: 'Open Sans', sans-serif;
    /* font-family: 'Source Sans Pro', sans-serif;   */
    justify-content: flex-start;

    height: 50px;
    width: 350px;
    
    border: 2px solid;
} 
div#bio{
    justify-content: flex-start;
    height: 100px;
    border: 2px solid;
}